<div>Live Shows</div>

<form name="showsForm">
    <label for="date">When:</label>
    <input id="date" moment-picker="show.date" ng-model="show.date" format="DD.MM.YYYY" name="date" today="true" placeholder="Select a Date">
    <label for="place">Where:</label>
    <input id="place" type="text" ng-model="show.place" name="place">
    <label for="ticketUrl">TicketURL:</label>
    <input id="ticketUrl" type="text" ng-model="show.ticketUrl" name="ticketUrl">
    <input type="submit" ng-click="saveShow(show)" value="Save" />
</form>

<ul>
    <li ng-repeat="show in shows">
        {{ show.date | formatDate }}
        {{ show.place }}
        {{ show.ticketUrl }}
    </li>
</ul>

<div ng-if="message">{{ message }}</div>
<div ng-if="error">{{ error }}</div>