/* app css stylesheet */
@font-face {
  font-family: Ultra;
  src: url("fonts/Ultra/Ultra.otf") format("opentype");
}

@font-face {
  font-family: Neon;
  src: url("fonts/Neon/Neon.ttf");
}

body {
  background: url('images/backgroundTM.jpg') no-repeat center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Cardo', serif;
  color:white;
}

h1, h2, h3, h4, h5, h6 {
  /*font-family: 'Neon', serif;*/
}

a {
 color: rgb(211, 230, 218);
}
a:hover, a:focus {
  color: rgb(96, 166, 120)
}

a.delete {
  cursor: pointer;
}

/* Basic Image on HomePage for going to HomeTemplate */
.navbar-home-image {
  max-width: 5rem;
}

/* Container for Nav-Element*/
.navbar-elements-container {
  width: 100%;
}
#tamereNavbar div.nav-item {
  font-size: 1.4em;
  font-weight: 800;
  font-family: 'Ultra', serif;
}
#tamereNavbar div.nav-item.active a {
  color: rgb(198, 127, 175);
}
#tamereNavbar a.nav-link {
  float: right;
}
@media(min-width: 992px) {
  #tamereNavbar div.nav-item {
    font-size: 2em;
  }
  #tamereNavbar a.nav-link {
    float: left;
  }
}

.show-list .flex-row div {
  min-width: 200px;
  padding: 10px;
  font-size: 20px;
}

.venue {
  color: rgb(96, 166, 120);
}

.show-list {
  margin-top: 50px;
  margin-bottom: 50px;
}

.show-list .flex-row:not(:last-child) {
  border-bottom: 3px solid rgb(105, 165, 127);
}

.page-header {
  font-size: 90px;
  text-transform: uppercase;
}